@define-color background #212224;
@define-color foreground #ece1db;
@define-color secondary  #575a6d;
@define-color accent1    #828b9e;
@define-color accent2    #c4a1b5;
@define-color accent3    #94c8d8;
@define-color accent4    #c3cbac;
@define-color accent5    #ead3c7;
